{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block formCat %}
<div class="form-group">
    <h4>Cat's information</h4>
    <label class="col-form-label" for="catWeight">{{inputs.weight}}</label>
    <input %} %} class="form-control" endif id="catWeight" if name="weight" placeholder="{{inputs.weight_placeholder}}"
           value={{weight}} weight|length {% {%/>
    <label class="col-form-label" for="catAge">{{inputs.age}}</label>
    <select action="/" class="form-control" id="catAge" method="GET" name="age">
        {% for key, value in ages %}
        <option %} %}SELECTED{% age==key endif if value="{{key}}" {%>{{value}}</option>
        {% endfor %}
    </select>
    <label class="col-form-label" for="catActivity">{{inputs.activity}}</label>
    <select action="/" class="form-control" id="catActivity" method="GET" name="activity">
        {% for key, value in activities %}
        <option %} %}SELECTED{% activity==key endif if value="{{key}}" {%>{{value}}</option>
        {% endfor %}
    </select>
    <p>
        {% for message in get_flashed_messages() %}
    <div class="text-danger" role="alert">
        <div class="flash">{{ message }}</div>
    </div>
    {% endfor %}
    </p>
</div>
{% endblock %}
{% block formFood %}
<div class="form-group">
    <h4>Food information</h4>
    <label class="col-form-label" for="protein">{{inputs.protein}}</label>
    <input %} %} class="form-control" endif id="protein" if name="protein" placeholder="{{inputs.food_placeholder}}"
           protein|length value={{protein}} {% {%/>
    <label class="col-form-label" for="fat">{{inputs.fat}}</label>
    <input %} %} class="form-control" endif fat|length id="fat" if name="fat"
           placeholder="{{inputs.food_placeholder}}" value={{fat}} {% {%/>
    <label class="col-form-label" for="fibre">{{inputs.fibre}}</label>
    <input %} %} class="form-control" endif fibre|length id="fibre" if name="fibre"
           placeholder="{{inputs.food_placeholder}}" value={{fibre}} {% {%/>
    <label class="col-form-label" for="ash">{{inputs.ash}}</label>
    <input %} %} ash|length class="form-control" endif id="ash" if name="ash"
           placeholder="{{inputs.food_placeholder}}" value={{ash}} {% {%/>
    <label class="col-form-label" for="moisture">{{inputs.moisture}}</label>
    <input %} %} class="form-control" endif id="moisture" if moisture|length name="moisture"
           placeholder="{{inputs.food_placeholder}}" value={{moisture}} {% {%/>
    <p>
        {% for message in get_flashed_messages() %}
    <div class="text-danger" role="alert">
        <div class="flash">{{ message }}</div>
    </div>
    {% endfor %}
    </p>
</div>
{% endblock %}

{% block catData %}
<h4>Energy requirements</h4>
{% if cat is defined %}
<p><a data-placement="top" data-toggle="tooltip" href="#" title="{{tooltips[mer]}}">{{numbers_labels[mer]}}</a><BR>
    {{cat.mer[range_min]}} kcal{% if cat.mer[range_min] != cat.mer[range_max] %} - {{cat.mer[range_max]}} kcal (average:
    {{cat.mer_avg}} kcal){% endif %}{{daily}}
</p>
<p><b><a data-placement="top" data-toggle="tooltip" href="#"
         title="{{tooltips[der]}}">{{numbers_labels[der]}}</a></B><BR>
    {{cat.der[range_min]}} kcal{% if cat.der[range_min] != cat.der[range_max] %} - {{cat.der[range_max]}} kcal (average:
    {{cat.der_avg}} kcal){% endif %}{{daily}}
</p>
{% else %}
<p>Please provide your cat's information.</p>
{% endif %}
{% endblock %}

{% block nutriData %}
<h4>Nutrient requirements</h4>
{% if cat is defined %}
<p>Protein:<BR>
    <a data-placement="top" data-toggle="tooltip" href="#" title="{{protein_labels[dm]}}">{{cat.protein_needs[dm]}}/100g
        food</a> - up to <a data-placement="top" data-toggle="tooltip" href="#" title="{{protein_labels[bw]}}">{{cat.protein_needs[bw]}}g</a>{{daily}}
</p>
<p>Fats:<BR>
    {{fat_needs[range_min]}} - {{fat_needs[range_max]}}% {{dm_label}}</P>
<p>Carbs:<BR>
    {{carb_needs[range_min]}} - {{carb_needs[range_max]}}% {{dm_label}}</P>
{% else %}
<p>Please provide your cat's information.</p>
{% endif %}
{% endblock %}

{% block foodData %}
<h4>Food calculations</h4>
<p>TBA</p>
{% endblock %}