<!doctype html>
{% set navigation_bar = [
    ('/', 'index', 'Calculator'),
    ('/about', 'about', 'About'),
    ('https://github.com/AqueM/CatFoodCalc', 'github', 'GitHub')
] -%}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = active_page|default('index') -%}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <!--        <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">-->
    <title>{% block page %}{% endblock %} {{title}}</title>
    <style>
        body {
    padding-top: 20px;
    padding-bottom: 20px;
    }
    .marketing {
    padding-right: 20px;
    padding-left: 20px;
    }
    footer {
    padding-right: 20px;
    padding-left: 20px;
    }
<!--    .required:after {-->
<!--      content:" *";-->
<!--      color:red;-->
<!--    }-->

    </style>
</head>
<body>
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function () {
    $('[data-toggle="tooltip"]').tooltip()
    })

</script>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills justify-content-end">
                {% for href, id, caption in navigation_bar %}
                <li class="nav-item" role="presentation"><a class="nav-link
                        {% if id == active_page %} active"{% endif %}"
                        {% if id == "github" %} target="_blank"{% endif %}
                    href="{{ href|e }}">{{ caption|e }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <h3 class="text-muted">{% block title %}
        {% endblock %}</h3>
        <p class="lead">Online tool to calculate how much your cat should eat based on their weight,
            activity level and age<br>
        as well as the quality of food you have.</p>
    </div>
    <div class="jumbotron">
        {% block jumbo %}
        {% endblock %}
    </div>
</div>
<div class="container">
<div class="row marketing">
    <div class="col-md-4" name="dataRow1">
        {% block col1 %}{% endblock %}
    </div>

    <div class="col-md-4" name="dataRow2">
        {% block col2 %}{% endblock %}
    </div>

    <div class="col-md-4" name="dataRow3">
        {% block col3 %}{% endblock %}
    </div>

</div>
<footer class="footer">
    <p>© {{year}} <a href="https://beacons.page/drosk">Dorota "Aque" Roskowska</a></p>
</footer>
</div>
</body>
</html>