{% extends 'base.html' %}
{% set active_page = "index" %}
{% block header %}CatFoodCalculator{% endblock %}

{% block jumbo %}
    <form action="" method="POST">
        <div class="row" name="data">
            <div class="col-md-4" name="inputFormCat">
                    <h4>Cat's information</h4>
                    {{ wtf.quick_form(form.cat) }}
            </div>
            <div class="col-md-3" name="inputFormFood">
                    <h4>Food information</h4>
                    {{ wtf.quick_form(form.food) }}
                    {{ form.submit(class="btn btn-lg btn-success align-center") }}
            </div>
            <div class="col-md-4" name="results">
                <h4>Results</h4>
                <p class="lead">Results</p>
            </div>

        </div>
    </form>
{% endblock %}


{% block col1 %}
<h4>Energy requirements</h4>
{% if cat is defined %}
<p><a data-placement="top" data-toggle="tooltip" href="#" title="Maintenance energy requirement (MER) is the energy
      required to support energy equilibrium of an animal. This does not take growth and reproduction into account.">
    {{numbers_labels[mer]}}</a><BR>
    {{cat.mer[range_min]}} kcal{% if cat.mer[range_min] != cat.mer[range_max] %} - {{cat.mer[range_max]}} kcal (average:
    {{cat.mer[range_avg]}} kcal){% endif %}<br>per day
</p>
<p><b><a data-placement="top" data-toggle="tooltip" href="#"
         title="Daily Energy Requirement (DER) is the amount of food energy needed by an animal to
                     balance energy expenditure in order to maintain body size, body composition and a level of
                     necessary and desirable physical activity consistent with long-term good health.">
    {{numbers_labels[der]}}</a></B><BR>
    {{cat.der[range_min]}} kcal{% if cat.der[range_min] != cat.der[range_max] %} - {{cat.der[range_max]}} kcal (average:
    {{cat.der[range_avg]}} kcal){% endif %}<br>per day
</p>
{% else %}
<p>Please provide your cat's information.</p>
{% endif %}
{% endblock %}

{% block col2 %}
<h4>Nutrient requirements</h4>
{% if cat is defined %}
<p><b>Protein:</b><BR>
    <a data-placement="top" data-toggle="tooltip" href="#" title="Calculated by food's dry mass">
        {{cat.protein_needs[dm]}}/100g
        food</a> per day <BR>or<br>
    <a data-placement="top" data-toggle="tooltip" href="#" title="Calculated by cat's bodyweight">
        {{cat.protein_needs[bw]}}g</a> per day
</p>
<p><b>Fats:</b><BR>
    {{fat_needs[range_min]}} - {{fat_needs[range_max]}}% daily food's dry mass</P>
<p><b>Carbs:</b><BR>
    {{carb_needs[range_min]}} - {{carb_needs[range_max]}}% daily food's dry mass</P>
{% else %}
<p>Please provide your cat's information.</p>
{% endif %}
{% endblock %}

{% block col3 %}
<h4>Food calculations</h4>
<p>TBA</p>
{% endblock %}