{% extends 'base.html' %}
{% set active_page = "index" %}
{% block title %}CatFoodCalculator{% endblock %}

{% block jumbo %}
    <form action="."method="POST">
        <div class="row" name="data">
            <div class="col-md-4" name="inputFormCat">
                <div class="form-group">
                    <h4>Cat's information</h4>
                    <label for="catWeight" class="col-form-label required">{{inputs.weight}}</label>
                        <input id="catWeight" class="form-control required" name="weight" {% if weight|length %} value={{weight}}
                        {% endif %} placeholder="{{inputs.weight_placeholder}}"/>
                    <label for="catAge" class="col-form-label required">{{inputs.age}}</label>
                        <select id="catAge" class="form-control" action="/" method="GET" name=age>
                            {% for key, value in ages %}
                            <option value="{{key}}" {% if age is defined and age==key %}SELECTED{% endif %}>{{value}}</option>
                            {% endfor %}
                        </select>
                    <label for="catActivity" class="col-form-label required">{{inputs.activity}}</label>
                        <select id="catActivity" class="form-control" action="/" method="GET" name=activity>
                        {% for key, value in activities %}
                        <option value="{{key}}" {% if activity is defined and activity==key %}SELECTED{% endif %}>{{value}}</option>
                        {% endfor %}
                        </select>
                </div>
            </div>
            <div class="col-md-3" name="inputFormFood">
                <div class="form-group">
                    <h4>Food information</h4>
                    <label class="col-form-label required" for="protein">Protein %</label>
                        <input class="form-control"  id="protein" name="protein"
                               placeholder="{{inputs.food_placeholder}}"
                               {% if protein|length %} value={{protein}} {% endif %}/>
                    <label class="col-form-label required" for="fat">Fat %</label>
                        <input class="form-control" id="fat" name="fat"
                               placeholder="{{inputs.food_placeholder}}"
                               {% if fat|length %} value={{fat}} {% endif %}/>
                    <label class="col-form-label required" for="fibre">Fibre %</label>
                        <input class="form-control"  id="fibre" name="fibre"
                               placeholder="{{inputs.food_placeholder}}"
                               {% if fibre|length %} value={{fibre}} {% endif %}/>
                    <label class="col-form-label required" for="ash">Ash %</label>
                        <input class="form-control" id="ash" name="ash"
                               placeholder="{{inputs.food_placeholder}}"
                               {% if ash|length %} value={{ash}} {% endif %}/>
                    <label class="col-form-label" for="moisture">{{inputs.moisture}}</label>
                        <input class="form-control" id="moisture" name="moisture"
                               placeholder="{{inputs.food_placeholder}}"
                               {% if moisture|length %} value={{moisture}} {% endif %}/>
                </div>
            </div>
            <div class="col-md-4" name="results">
                <h4>Results</h4>
                <p class="lead">
                    {% if cat is defined and food is defined %}
                    <p>Results</p>
                    {% else %}
                    <p>Provide data to see results here.</p>
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="row" name="errors">
            <div class="col-md-4" name="catErrors">
                {% with catErrors = get_flashed_messages(category_filter=["cat"]) %}
                {% if catErrors %}
                <p>
                {% for catError in catErrors %}
                <div class="text-danger" role="alert"><div class="flash">{{ catError }}</div></div>
                {% endfor %}
                </p>
                {% endif %}
                {% endwith %}
            </div>
            <div class="col-md-3" name="foodErrors">
                {% with foodErrors = get_flashed_messages(category_filter=["food"]) %}
                {% if foodErrors %}
                <p>
                {% for foodError in foodErrors %}
                <div class="text-danger" role="alert"><div class="flash">{{ foodError }}</div></div>
                {% endfor %}
                </p>
                {% endif %}
                {% endwith %}
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row d-flex " name="submit">
            <div class="col-md-4"></div>
            <div class="col-md-3" name="submit">
                <input class="btn btn-lg btn-success float-right" type="submit" value="{{inputs.submit}}"/>
            </div>
            <div class="col-md-4"></div>
        </div>
    </form>
{% endblock %}


{% block col1 %}
<h4>Energy requirements</h4>
{% if cat is defined %}
<p><a data-placement="top" data-toggle="tooltip" href="#" title="Maintenance energy requirement (MER) is the energy
      required to support energy equilibrium of an animal. This does not take growth and reproduction into account.">
    {{numbers_labels[mer]}}</a><BR>
    {{cat.mer[range_min]}} kcal{% if cat.mer[range_min] != cat.mer[range_max] %} - {{cat.mer[range_max]}} kcal (average:
    {{cat.mer[range_avg]}} kcal){% endif %}<br>per day
</p>
<p><b><a data-placement="top" data-toggle="tooltip" href="#"
         title="Daily Energy Requirement (DER) is the amount of food energy needed by an animal to
                     balance energy expenditure in order to maintain body size, body composition and a level of
                     necessary and desirable physical activity consistent with long-term good health.">
    {{numbers_labels[der]}}</a></B><BR>
    {{cat.der[range_min]}} kcal{% if cat.der[range_min] != cat.der[range_max] %} - {{cat.der[range_max]}} kcal (average:
    {{cat.der[range_avg]}} kcal){% endif %}<br>per day
</p>
{% else %}
<p>Please provide your cat's information.</p>
{% endif %}
{% endblock %}

{% block col2 %}
<h4>Nutrient requirements</h4>
{% if cat is defined %}
<p>Protein:<BR>
    <a data-placement="top" data-toggle="tooltip" href="#" title="Calculated by food's dry mass">
        {{cat.protein_needs[dm]}}/100g
        food</a> - up to <a data-placement="top" data-toggle="tooltip" href="#" title="Calculated by cat's bodyweight">
        {{cat.protein_needs[bw]}}g</a><br>per day
</p>
<p>Fats:<BR>
    {{fat_needs[range_min]}} - {{fat_needs[range_max]}}% daily food's dry mass</P>
<p>Carbs:<BR>
    {{carb_needs[range_min]}} - {{carb_needs[range_max]}}% daily food's dry mass</P>
{% else %}
<p>Please provide your cat's information.</p>
{% endif %}
{% endblock %}

{% block col3 %}
<h4>Food calculations</h4>
<p>TBA</p>
{% endblock %}